.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.*

vitest
vitest.*

playwright.*

test-results/
supabase.ts

node_modules
dist
dist-ssr
*.local

app.config.ts
tsconfig.json